@using BankingWeb.Controllers
@model BankingWeb.Models.UserModel
@{
    ViewBag.Title = "New user";
}
<form action="@Url.Action("Add", "User")" method="POST">
<fieldset>
    <legend>New user </legend>
    <label for="username">
        Username
    </label>
    <input type="text" id="username" name="username" placeholder="Username"required maxlength="20" pattern="[A-Za-z0-9]{4,}">
    <span><font size="1">Field UserName consist of the 4-20 latters or numbers </font></span>
    <label for="password">
        Password
    </label>
    <input type="password" id="password" name="password"required maxlength="16" pattern="[A-Za-z0-9]{4,}">
    <span><font size="1">Field Password consist of the 4-16 latterr or numbers </font></span>
    <label for="first-name">
        First Name
    </label>
    <input type="text" id="first-name" name="firstName" placeholder="First Name"required maxlength="10" pattern="[A-Za-z]{3,}">
    <span><font size="1">Field FirstName consist of the 3-10 latters</font></span>
    <label for="first-name">
        Last Name
    </label>
    <input type="text" id="last-name" name="lastName" placeholder="Last Name"required maxlength="15" pattern="[A-Za-z]{3,}">
    <span><font size="1">Field LastName consist of the 3-15 latters</font></span>
    <label for="email">
        Email
    </label>
    <input id="emailvalid" type="text"  name="email" placeholder="Email"required >
    <label for="phone">
        Phone
    </label>
    <input type="text" id="phone" name="phone" placeholder="Phone" maxlength=12 pattern="[0-9]{7,12}">
    <label for="birthday">
        Birthday
    </label>
    <input type="text" placeholder="Birthday" id="birthday" name="birthday" data-date-format="@BaseController.DateFormat.ToLower()" 
         required >
    <input type="hidden" name="role" value="@Model.Role"/>
    <input type="hidden" name="region" value="@BaseController.All"/>
    <div>
        <button  type="submit" class="btn" >
            Create
        </button>
    </div>
</fieldset>
</form>
<script type="text/javascript">
    $(document).ready(function () {
        $("#birthday").datepicker();
    });
</script>


