@model dynamic

<form class="form-signin" action="/User/Login" method="POST">
<h2 class="form-signin-heading">
    Please sign in</h2>
<input type="text" class="input-block-level" placeholder="Email address" name="username">
<input type="password" class="input-block-level" placeholder="Password" name="password">
<label class="checkbox">
    <input type="checkbox" value="remember-me">
    Remember me
</label>
<button class="btn btn-small btn-primary" type="submit">
    Sign in</button>
</form>
