@model dynamic
<div class="span3 offset2">
    <form class="form-signin" action="@Url.Action("Login", "User")" method="POST">
    <h2 class="form-signin-heading">
        Please sign in</h2>
    <input type="text" class="input-block-level" placeholder="Username" name="username" required maxlength="20" pattern="[A-Za-z0-9]{4,}">
    <span><font size="1">Field UserName consist of the 4-20 latters or numbers</font></span>
    <input type="password" class="input-block-level" placeholder="Password" name="password" maxlength="16" pattern="[A-Za-z0-9]{5,}" required>
    <span><font size="1">Field Password consist of the 4-16 latters or numbers </font></span>
    <label class="checkbox">
        <input type="checkbox" value="remember-me">
        Remember me
    </label>
    <button class="btn btn-small btn-primary" type="submit">
        Sign in</button>
    </form>
</div>
