@model BankingWeb.Models.PersonalCodeModel
@{
    ViewBag.Title = "PK";
}
<h1>
    Personal code
</h1>
<form action="@Url.Action("PersonalCode", "User")" method="POST" id="pcform">
<fieldset>
    <label for="old-personal-code">
        Old personal code</label>
    <input type="password" id="old-personal-code" name="old" />
    <span class="help-line">Enter your old PC, but if first time leave it empy</span>
    <label for="newcode">
        New personal code</label>
    <input type="password" id="newcode" name="newcode" required pattern="[0-9]{4,16}" />
    <span class="help-line">Enter your new PC, use only letters ond digits</span>
    <label for="confirmcode">
        Confirm</label>
    <input type="password" id="confirmcode" name="confirmcode" />
    <span class="help-line">confirm your new personal code</span>
    <div>
        <button type="submit" class="btn">
            Save
        </button>
    </div>
</fieldset>
</form>


<script type="text/javascript">
    jQuery.validator.setDefaults({
        debug: true,
        success: "valid"
    }); ;
</script>
 <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script type="text/javascript" src="http://jzaefferer.github.com/jquery-validation/jquery.validate.js"></script>
 <script>
     $(document).ready(function () {

         $("#pcform").validate(
 {
     rules: {
         newcode: {
             required: true,
            digits: true,
            minlength: 4,
            maxlength: 16
         },
         confirmcode: {
             required: true,
             equalTo: "#newcode"
         }
     }
 });
     }).element("#confirmcode"); 
</script>