@model dynamic
@{
    ViewBag.Title = "Pay";
}
<h1>
    Pay header</h1>
<form>
<fieldset>
    <legend>Payment</legend>
    <label>
        Amount</label>
    <div class="input-prepend input-append">
        <span class="add-on">$</span>
        <input type="text" placeholder="Amount">
    </div>
    <label>
        Account expiration date</label>
    <input type="text" placeholder="Date" id="account-expiration" data-date-format="mm/yyyy">
    <label>
        Account</label>
    <select>
        <option>0000-0000-0000-0001</option>
        <option>0000-0000-0000-0002</option>
        <option>0000-0000-0000-0003</option>
    </select>
    <label>
        Recipient's account</label>
    <input type="text" placeholder="Recipient">
    <label>
        Personal code</label>
    <input type="text" placeholder="Code">
    <label class="checkbox">
        <input type="checkbox">
        Mail me state
    </label>
    <button type="submit" class="btn">
        Pay</button>
</fieldset>
</form>
