@model dynamic

@{
    ViewBag.Title = "About";
}

<h1>About As</h1>
<table class="table table-striped">
<tr>
<th>This program was developed specifically on the subject of КОФИ<br /></th></tr>
    <tr><th> In development involved:</th>
    <th>FiodarHmyza<br />
    Alexandr Kalevich<br />
    Alexandr Kirpichniy<br />
    
    </th></tr>