@using BankingWeb.Controllers
@model BankingWeb.Models.RegionModel

@{
    ViewBag.Title = "New region";
}

<form action="@Url.Action("Add", "Region")" method="POST">
<fieldset>
    <legend>New region</legend>
    <label for="name">Region name</label>
    <input type="text" placeholder="Name" id="name" name="name"  maxlength=15 required pattern="[A-Za-z]{2,}"/>
    <div>
        <button type="submit" class="btn">
            Create
        </button>
    </div>
</fieldset>
</form>
