@model dynamic
@{
    ViewBag.Title = "Balance";
}
<h1>
    Balance header</h1>
<table class="table table-striped">
    <tr>
        <th>
            №
        </th>
        <th>
            Account number
        </th>
        <th>
            Balance
        </th>
        <th>
            State
        </th>
    </tr>
    <tr class="success">
        <td>
            1
        </td>
        <td>
            0000-0000-0000-0001
        </td>
        <td>
            1000 &#36;
        </td>
        <td>
            Ok
        </td>
    </tr>
    <tr class="warning">
        <td>
            2
        </td>
        <td>
            0000-0000-0000-0002
        </td>
        <td>
            1 &euro;
        </td>
        <td>
            Low
        </td>
    </tr>
    <tr class="error">
        <td>
            3
        </td>
        <td>
            0000-0000-0000-0003
        </td>
        <td>
            3000 RUB
        </td>
        <td>
            Blocked
        </td>
    </tr>
</table>
