@model dynamic
@{
    ViewBag.Title = "History";
}
<h1>
    History header</h1>
<table class="table table-striped">
    <tr>
        <th>
            №
        </th>
        <th>
            Amount
        </th>
        <th>
            Description
        </th>
        <th>
            Account
        </th>
        <th>
            Date
        </th>
        <th>
            State
        </th>
    </tr>
    <tr>
        <td>
            1
        </td>
        <td>
            -1 &#36;
        </td>
        <td>
            Internet
        </td>
        <td>
            0000-0000-0000-0001
        </td>
        <td>
            01.01.2012 01:02:03
        </td>
        <td>
            Success
        </td>
    </tr>
    <tr>
        <td>
            3
        </td>
        <td>
            -2 &#36;
        </td>
        <td>
            Shop
        </td>
        <td>
            0000-0000-0000-0001
        </td>
        <td>
            01.01.2012 01:02:03
        </td>
        <td>
            Success
        </td>
    </tr>
    <tr>
        <td>
            4
        </td>
        <td>
            -2 &#36;
        </td>
        <td>
            Shop
        </td>
        <td>
            0000-0000-0000-0001
        </td>
        <td>
            01.01.2012 01:02:03
        </td>
        <td>
            Success
        </td>
    </tr>
    <tr>
        <td>
            5
        </td>
        <td>
            +2 &#36;
        </td>
        <td>
            Salary
        </td>
        <td>
            0000-0000-0000-0001
        </td>
        <td>
            01.01.2012 01:02:03
        </td>
        <td>
            Success
        </td>
    </tr>
    <tr>
        <td>
            6
        </td>
        <td>
            -2 &#36;
        </td>
        <td>
            Shop
        </td>
        <td>
            0000-0000-0000-0001
        </td>
        <td>
            01.01.2012 01:02:03
        </td>
        <td>
            Success
        </td>
    </tr>
    <tr>
        <td>
            7
        </td>
        <td>
            -2 &#36;
        </td>
        <td>
            Internet
        </td>
        <td>
            0000-0000-0000-0003
        </td>
        <td>
            01.01.2012 01:02:03
        </td>
        <td>
            Success
        </td>
    </tr>
</table>
<div class="pagination pagination-centered">
    <ul>
        <li class="disabled"><a href="#">Prev</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">Next</a></li>
    </ul>
</div>
