@model BankingWeb.Models.CurrencyModel

@{
    ViewBag.Title = "Currency";
}

<form action="@Url.Action("Add", "Currency")" method="POST">
<fieldset>
    <legend>New Currency</legend>
    <label for="name">
        Name
    </label>
    <input type="text" id="name" name="name" placeholder="Name" required maxlength="10" pattern="[A-Za-z\s]{3,}">
    <label for="short-name">
        Short Name
    </label>
    <input type="text" id="short-name" name="shortName" placeholder="Short Name"required maxlength="6" pattern="[A-Za-z]{3,}">
    <label for="symbol">
        Symbol
    </label>
    <input type="text" id="symbol" name="symbol" placeholder="Symbol"required maxlength="2" />
    <div>
        <button type="submit" class="btn">
            Create
        </button>
    </div>
</fieldset>
</form>